@import "tailwindcss";

.hero-bg {
  background: linear-gradient(-45deg, #adad9e, #1e4668, #0a1620);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Tab styles */
.tab-button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tab-button:hover {
  color: #374751;
  border-color: #d1d5db;
}

.tab-button.active {
  color: #01438f;
  border-color: #01438f;
}
